body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/*Cabecera de la pagina*/
header{
  z-index: 1;
  position: fixed;
  background: rgb(255, 255, 255);
  padding: 20px;
  width: calc(100% - 0%);
  top: 0;
  height: 30px;
}

/*Texto "Ya" de la cabecera*/
.left_area h3{
  color: #676e77;
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
}

/*Texto "Donaste de la cabecera"*/
.left_area span{
  color: #ee694b;
}

/*Boton "Salir "de la cabecera de la parte supeior derecha*/
.logout_btn{
  padding: 10px 20px 10px 20px;
  background: #ee694b;
  text-decoration: none;
  float: right;
  margin-top: -30px;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  transition: 0.5s;
  transition-property: background;
}

.logout_btn:hover{
  background: #ee380f;
}

/*Panel naranja del lado izquierdo*/
.sidebar{
  z-index: 1;
  top: 0;
  background: #ee694b;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
}

.profile_info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar .profile_info .profile_image{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
}

/*Color del nombre de usuario que esta ubicado en el panel naranja del lado izquierdo*/
.sidebar .profile_info h4{
  color: #fff;
  margin-top: 0;
  margin-bottom: 20px;
}

/*Color de los enlaces que esta ubicado en el panel naranja del lado izquierdo*/
.sidebar a{
  color: #fff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.sidebar a:hover{
  background: #0b2341;
}

.sidebar i{
  padding-right: 10px;
}

label #sidebar_btn{
  z-index: 1;
  color: #0b2341;
  position: fixed;
  cursor: pointer;
  left: 230px;
  font-size: 20px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
}

label #sidebar_btn:hover{
  color: #0b2341;
}

#check:checked ~ .sidebar{
  left: -150px;
}

#check:checked ~ .sidebar a span{
  display: none;
}

#check:checked ~ .sidebar a{
  font-size: 20px;
  margin-left: 165px;
  width: 100%;
}

/*Contenido principal fondo azul*/
.content{
  width: (100% - 250px);
  margin-top: 25px;
  padding: 20px;
  margin-left: 250px;
  background: #0b2341;
  background-position: center;
  background-size: cover;
  height: 300vh;
  transition: 0.5s;
}

#check:checked ~ .content{
  margin-left: 30px;
}

#check:checked ~ .sidebar .profile_info{
  display: none;
}

#check{
  display: none;
}

.mobile_nav{
  display: none;
}

/*Titulo principal del fondo azul*/
.content .card{
  text-align: center;
  font-weight: bold;
  color: #fff;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 16px;
  opacity: 0.8;
}

/*Espacio entre titulo y las solicitudes del fondo azul*/
.content .mitos{
  margin-top: -8%;
}

/*Diseño de las solicitudes mostradas en el fondo azul*/
.content .mitos .mitosPartes{
  float: left;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  border-style: solid;
  border-radius: 30px;
  width: 270px;
  height: auto;
  margin-left: 30px;
  border-color: #ee694b;
  color: #fff;
}

/*Imagen de usuario que se encuentra dentro de las solicitudes*/
.content .mitos .mitosPartes .imagen{
  text-align: center;
  margin-top: 5%;
  margin-bottom: 0%;
  width: 60px;
  height: 60px;
  
}

/*Boton verde de contacto que se encuentra dentro de las solicitudes*/
.content .mitos .mitosPartes .contacto{
  border: 1px solid #06a046; /*anchura, estilo y color borde*/
  padding: 13px; /*espacio alrededor texto*/
  background-color: #06a046; /*color botón*/
  color: #ffffff; /*color texto*/
  text-decoration: none; /*decoración texto*/
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  border-radius: 50px; /*bordes redondos*/
}

.content .mitos .mitosPartes .contacto:hover{
  border: 1px solid #015c27; /*anchura, estilo y color borde*/
  padding: 13px; /*espacio alrededor texto*/
  background-color: #015c27; /*color botón*/
  color: #ffffff; /*color texto*/
  text-decoration: none; /*decoración texto*/
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  border-radius: 50px; /*bordes redondos*/
}

/*Todo lo de abajo es practicamente lo mismo pero adaptandolo a moviles*/
/* Responsive CSS */
@media screen and (max-width: 780px){
  .sidebar{
    display: none;
  }

  #sidebar_btn{
    display: none;
  }

  .content{
    margin-left: 0;
    margin-top: 0;
    padding: 10px 20px;
    transition: 0s;
  }

  #check:checked ~ .content{
    margin-left: 0;
  }

  .mobile_nav{
    display: block;
    width: calc(100% - 0%);
  }

  .nav_bar{
    background: #ee694b;
    width: (100% - 0px);
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .nav_bar .mobile_profile_image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .nav_bar .nav_btn{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    transition-property: color;
  }

  .nav_bar .nav_btn:hover{
    color: #0b2341;
  }

  .mobile_nav_items{
    background: #ee694b;
    display: none;
  }

  .mobile_nav_items a{
    color: #fff;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    line-height: 60px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }

  .mobile_nav_items a:hover{
    background: #0b2341;
  }

  .mobile_nav_items i{
    padding-right: 10px;
  }

  .active{
    display: block;
  }

  /*.mobile_nav_items{
    background: #2F323A;
    overflow: hidden;
    max-height: 0;
	transition: 0.5s;
	transition-property: max-height;
  }

  .mobile_nav_items a{
    color: #fff;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    line-height: 60px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }

  .mobile_nav_items a:hover{
    background: #19B3D3;
  }

  .mobile_nav_items i{
    padding-right: 10px;
  }

  .active{
    max-height: 1000px;
  }*/
  /**---------------------------------------------------------------------------------------*/
  * {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
  }
  
  body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
  }
  
  .contenedor {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
  }
  
  .contenedor article {
    line-height: 28px;
  }
  
  .contenedor article h1 {
    font-size: 30px;
    text-align: left;
    padding: 50px 0;
  }
  
  .contenedor article p {
    margin-bottom: 20px;
  }
  
  .contenedor article .btn-abrir-popup {
    padding: 0 20px;
    margin-bottom: 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background: #5E7DE3;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
    cursor: pointer;
  }
  
  .contenedor article .btn-abrir-popup:hover {
    background: rgba(94,125,227, .9);
  }
  
  /* ------------------------- */
  /* POPUP */
  /* ------------------------- */
  
  .overlay {
    background: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: hidden;
  }
  
  .overlay.active {
    visibility: visible;
  }
  
  .popup {
    background: #F8F8F8;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    text-align: center;
    width: 600px;
    
    transition: .3s ease all;
    transform: scale(0.7);
    opacity: 0;
  }
  
  .popup .btn-cerrar-popup {
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    transition: .3s ease all;
    color: #BBBBBB;
  }
  
  .popup .btn-cerrar-popup:hover {
    color: #000;
  }
  
  .popup h3 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    opacity: 0;
  }
  
  .popup h4 {
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 40px;
    opacity: 0;
  }
  
  .popup form .contenedor-inputs {
    opacity: 0;
  }
  
  .popup form .contenedor-inputs input {
    width: 100%;
    margin-bottom: 20px;
    height: 52px;
    font-size: 18px;
    line-height: 52px;
    text-align: center;
    border: 1px solid #BBBBBB;
  }
  
  .popup form .btn-submit {
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background: #5E7DE3;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
  }
  
  .popup form .btn-submit:hover {
    background: rgba(94,125,227, .9);
  }
  
  /* ------------------------- */
  /* ANIMACIONES */
  /* ------------------------- */
  .popup.active {	transform: scale(1); opacity: 1; }
  .popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
  .popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
  .popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }
  
  @keyframes entradaTitulo {
    from {
      opacity: 0;
      transform: translateY(-25px);
    }
  
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes entradaSubtitulo {
    from {
      opacity: 0;
      transform: translateY(25px);
    }
  
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes entradaInputs {
    from { opacity: 0; }
    to { opacity: 1; }
  }
}
